*{
               /* outline: 1px solid black;*/
}

body{
    background: url("../images/ocean.jpg") no-repeat center center fixed;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    height: 100vh;
}

.container-fluid {
    height:  100vh;
}

.row{
     height: 15vh; 
    overflow: hidden;
}

.row1{
    height: 10vh;
    overflow: hidden;
}

.row2{
    height: 25vh;
    overflow: hidden;
}

.row3{
     height: 35vh;  
    overflow: hidden;
}

#sub{
    width: 200px;
    height: 120px;
    opacity: .2;
    border:2px solid black;
}

#ship{
    width: 200px;
    height: 130px;
    opacity: .8;
    border:2px solid black;
  
}

#effect{
    width: 200px;
    height: 125px;
    opacity: .8;
    border:2px solid black;
}

.slap{
    text-align: left; 
    display: inline-block;
}

.punch{
    text-align: left; 
    display: inline-block;
} 

.kick{
    text-align: left; 
    display: inline-block;
}

.myInlineLeft{
    text-align: left; 
    display: inline-block;
}

.rst{
    text-align: right;
}

button{
    opacity: .3;
}

#vertBar {
    width: 20px;
    height: 130px;
    background-color: darkred;
    text-align: right; 
    line-height: 130px; 
    display: inline-block; 
    padding: 0 20px 0 10px;
    position: absolute;
    bottom: 0;
}

 #progressBar{
   text-align: right;
} 

#attack{
    text-align: middle;
    font-size: 14px;
    color: red;
}

#status{
    text-align: middle;
    font-size: 14px;
    color: limegreen;
}

.report{
    font-size: 14px;
    color: lightyellow;
     margin: 0 auto; 
}

.fixed{
    margin: 0 auto;
}

.finalReport {
    margin: 0 auto;
}

td, th{
    padding: 0 20px 0 20px;
    text-align: middle;
    font-size: 14px;
}